:root {
	--light-green-700: #64dd17;

	--green-700: #00c853;

	--light-blue-400: #00b0ff;
	--light-blue-700: #0091ea;

	--blue-400: #2979ff;

	--black: #2e3440;
	--blue: #4078f2;
	--blue2: #81a1c1;
	--green: #00695c;

	--gray-700: #2d3748;
	--green-500: #38a169;
	--blue-500: #3182ce;
	--gray-100: #edf2f7;

	--white: #fff;

	--gradient: linear-gradient(
		60deg,
		#ffe701 -1.41%,
		#fa51d3 34.12%,
		#10d9ed 70.19%,
		#52ff53 101.95%
	);
}

/* https://chakra-ui.com/docs/theming/theme */

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
html {
	font-size: 18px;
}

body {
	font-family: "Karla", sans-serif;
	color: var(--gray-700);
}

.ContentWrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	gap: 30px;
	padding: 15px;
	justify-content: space-between;
	align-items: flex-start;
}

.Main {
	max-width: 770px;
}

.side {
	display: flex;
	flex-direction: column;
	width: 370px;
	gap: 24px;
	/* background-color: #edf2f7;
	padding: 30px; */
}

/* NAV */

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px 0;
}

.nav {
	max-width: 1200px;
	width: 100%;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4 {
	margin: 0;
}

h1 {
	font-size: 35.16px;
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline;
}

h2 {
	font-size: 28.13px;
}

h3 {
	font-size: 22.5px;
	font-weight: 600;
}

h4 {
	font-size: 22.5px;
	font-weight: 600;
}

.projects-container h4 {
	/* background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	display: inline;
}

p {
	margin: 0;
	line-height: 150%;
}

.side-info {
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex-wrap: wrap;
}

.Contacts {
	list-style-type: none;
	margin: 0;
}

.Social {
	list-style-type: none;
	padding: 0;
	margin: 0 -8px;
	display: flex;
}

.Social li {
	padding: 0 8px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	line-height: 150%;
	margin-bottom: 8px;
}

li:last-child {
	margin-bottom: 0px;
}

i {
	font-style: italic;
}

b {
	font-weight: 600;
}

.Photo {
	height: 210px;
	width: 210px;
	border-radius: 105px;
}

.divider7 {
	height: 7px;
	width: 100%;
}

.divider15 {
	height: 15px;
	width: 100%;
}

.divider30 {
	height: 30px;
	width: 100%;
}

.divider45 {
	height: 45px;
	width: 100%;
}

pre {
	font-size: 18px;
	margin: 0;
}

code {
	padding: 2px 4px;
	margin: 0;
	font-family: "Inconsolata", monospace;
	background-color: var(--gray-100);
	border-radius: 8px;
}

.Middot {
	color: #718096;
}

/* LINKS AND LINK BLOCKS */



a {
	text-decoration: none;
	color: var(--gray-700);
}


.link-block {
	display: inline-block;
}

.link-block__div {
	display: flex;
	align-items: center;
	gap: 5px;
	line-height: 125%;
}

.link {
	text-decoration: none;
	/* background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	background: var(--gradient);
	padding: 4px;
	border-radius: 4px;
	color: var(--white);
}

.link:hover {
	color: var(--white);
}

.fab,
.fas {
	font-size: 24px;
	background: var(--gradient);
	padding: 6px;
	color: var(--white);
	border-radius: 8px;
}

/* a:hover,
.fab:hover,
.fas:hover {
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

.small-icon {
	font-size: 20px;
}

.codewars {
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
	gap: 10px;
}

/* FOOTER */

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.RSLogo {
	height: 32px;
}

.footer_list {
	display: flex;
	list-style-type: none;
	align-items: center;
	gap: 15px;
	padding: 30px 0 90px 0;
}

.pop-cat {
	height: 32px;
}

.link-block__div .far {
	color: white;
}

/* PROJECTS */

.projects-container a {
	text-decoration: none;
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 24px;
}

.projects-container__item {
	display: flex;
	flex-direction: column;
	gap: 12px;
	background-color: var(--gray-100);
	padding: 16px;
	border-radius: 8px;
}

@media screen and (max-width: 1024px) {
	.ContentWrapper {
		flex-direction: column-reverse;
	}

	.side {
		align-items: flex-start;
		align-items: center;
		width: 100%;
	}

	.side-info {
		flex-direction: row;
	}

	aside {
		width: 100%;
	}

	pre {
		font-size: 16px;
	}
}

@media screen and (max-width: 512px) {
	.footer_list {
		flex-direction: column;
		gap: 0;
	}

	pre {
		font-size: 9px;
	}
}
